.item {
    position: relative;
    height: 40px;
}

.item.even {
    background-color: #b19cd9;
}

.item.odd {
    background-color: #cec1e7;
}

.item:hover {
    background-color: #7653bd;
}

.item a {
    color: white;
}

.item p {
    margin: 0;
}

.itemBtn {
    margin: 0 10px;
    font-size: 20px;
    cursor: pointer;
}

.itemBtn.danger {
    color: red;
}

.leftBound {
    left: 20px;
}

.rightBound {
    right: 20px;
}

.rightBound, .leftBound {
    height: 100%;
    max-height: 100%;
    position: absolute;
}

.rightBound *, .leftBound * {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
